@import "../js/bootstrap-3.1.0/less/bootstrap.less";
@import "less-elements/elements.less";
@import "config.less";

/*.section{
	min-width: 100%;
	min-height: 100%;
	display: block;
	position: relative;
	padding-top: 80px;
	background-image: url("/img/background.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-attachment: fixed;
}*/

body{
	position:absolute;
	display:block;
	width:100%;
	min-height: 100%;

	padding: 0px;
	margin: 0px;
	padding-bottom: 40px;

	background-image: url("/img/background.png");
	background-repeat: no-repeat;
	background-position: bottom left;
	background-attachment: fixed;
	background-size: 40%;
}

p{
	font-family: "big_caslonmedium";
}

#footer{
	.make-row(0px);

	background-color: #A67C52;
	position: absolute;
	bottom: 0%;
	width: 100%;
	max-height: 40px;
	min-height: 40px;
	padding:10px 0px;

	p{
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font-family: "Ubuntu";
		font-weight: 700;
		font-size: 14px;
	}
}

ul{
	list-style: none;

	li{
		display:inline-block;	
	}
}

header{
	.make-row(0px);
	position: relative;
	overflow: hidden;

	& > img{
		width: 100%;
		height: initial;
		position: relative;
		float:left;
	}

	.logo{
		.make-xs-column(12);
		.make-sm-column(12);
		.make-md-column(3);
		.make-lg-column(3);
		position:absolute;
		height:100%;

		.icon-pre{
			.make-xs-column(12, 0px);
			.make-sm-column(12, 0px);
			.make-md-column(3, 0px);
			.make-lg-column(3, 0px);
			height:100%;
		}

		.icon-logo{
			.make-xs-column(12, 0px);
			.make-sm-column(12, 0px);
			.make-md-column(9, 10px);
			.make-lg-column(9, 10px);
			height:100%;
		}

		.logo-content{
			width:100%;
			height:100%;
			display: block;
			position: relative;

			.center-content;
			vertical-align: middle;
			
			img{
				width:99%;
				height: initial;
				float: none;
			}
		}
		
	}

	.menu{
		.make-xs-column(12);
		.make-sm-column(12);
		.make-md-column(6);
		.make-md-column-push(3);
		.make-lg-column(6);
		.make-lg-column-push(3);
		position:absolute;
		height:100%;


		nav{
			width:100%;
			height:100%;
			display:block;

			ul{
				width:100%;
				height:100%;
				margin:0px;
				padding:0px;
				.center-content;
				
				li{
					a{
						padding:5px 10px;
						text-decoration: underline;
						color: #fff;
						//text-transform: uppercase;
						font-family: "big_caslonmedium";
						letter-spacing: 1px;
						//font-weight: 700;
					}

					&.active{

						a{
							background:#fff;
							color: #A67C52;
							font-weight: 700;
							.rounded(2px);
						}
					}
				}
			}
		}
	}

	.social{
		.make-xs-column(12);
		.make-sm-column(3);
		.make-md-column(3);
		.make-md-column-push(9);
		.make-lg-column(3);
		.make-lg-column-push(9);
		position:absolute;
		height:100%;

		ul{
			width:100%;
			height:100%;
			margin:0px;
			padding:0px;
			text-align: center;

			li{
				height:100%;
				display:inline;
				.center-content;

				a{
					background-color: #A67C52;
					.rounded(50%);

					i{
						color:#fff;
						line-height: 34px;
						width:34px;
						height:34px;
						font-size: 16px;
					}
				}

				&.corpo{
					border-left: 1px #fff solid;
					padding-left: 4px;

					a{
						background-color: #ccc;
					}
				}
			}
		}
	}
}

hr.line{
	background: #534741;
	height:10px;
	border: none;
	display: block;
	padding:0px;
	margin:0px;
}

#slider{
	.make-row();
	.owl-config();

	margin: 0px;
	
	ul{
		margin:0px;
		padding:0px;

		img{
			width:100%;
			height: initial;
		}
	}
}

.section{
	.section-container{
		padding: 10px 0px;
	}

	.intro{
		& > p{
			padding: 0px 50px !important;
		}
	}

	.content{
		& > p{
			padding: 0px 50px !important;
		}
	}
}

.section-home{
	.intro{
		.make-lg-column(6);

		p{
			padding: 15px;
			text-align: justify;
		}

		&>img{
			width: 100%;
			height: initial;
			max-width: 1200px
		}
	}

	.content{
		.make-lg-column(6);
		position:relative;
		text-align: center;

		&>img{
			width: 100%;
			height: initial;
			max-width: 1200px
		}
	}
}

.section-empresa{
	.intro{
		.make-lg-column(6);

		p{
			padding: 15px;
			text-align: justify;
		}

		&>img{
			width: 100%;
			height: initial;
			max-width: 1200px
		}
	}

	.content{
		.make-lg-column(6);
		
		&>img{
			width: 100%;
			height: initial;
			max-width: 1200px
		}
	}
}

.section-contacto{
	.content{
		.make-lg-column(6);
		position:relative;

	}

	.intro{
		.make-lg-column(6);
		
		#map{
			min-height: 250px;
			width:100%;
		}

		p{
			padding: 15px;
			text-align: justify;
		}
	}
}

.section-coleccion{
	.intro{
		.make-lg-column(12);

		p{
			padding: 15px;
			text-align: justify;
		}
	}

	.content{
		.make-lg-column(12);
		position:relative;

		#fotos{
			.make-row();
			
			.fotos-content{
				.make-xs-column(12);
				.make-sm-column(6, 2px);
				.make-md-column(4, 2px);
				.make-lg-column(3, 2px);
				position:relative;

				border: 1px #A67C52 solid;

				a{
					display:block;
					position:relative;
					width:100%;
					height:100%;

					.fotos-content-item-full{
						position:absolute;
						.rounded(2px);
						background-color: #A67C52;
						margin:10px;
						right:0px;
						top:0px;

						i{
							padding:10px;
							color:#fff;
						}
					}

					img{
						width:100%;
						height:initial;	
					}
				}
			}

		}
	}
}


.section-ficha-tecnica{
	.intro{
		.make-lg-column(12);

		p{
			padding: 15px;
			text-align: justify;
		}
	}

	.content{
		.make-lg-column(12);

	}
}

.section-novedades{
	.intro{
		.make-lg-column(6);
		.make-lg-column-push(6);

		p{
			padding: 15px;
			text-align: justify;
		}
	}
}

.modal-body *{
	max-width: 100%;
}

p{
	color: #A67C52;
}

.blockquote{
	position:relative;

	i{
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 50px;
		color: #A67C52;
	}

	padding-left: 45px;
	padding-top: 0px;
	
	p{
		text-transform: uppercase;
	}
}

/*mixins*/
.center-content(@align:center){ 
	&{
		text-align: @align;

		&::before {
			display: inline-block;
			margin-right: -0.25em; /* espaciado entre .ejemplo:before y .contenido */
			height: 100%;
			content: '';
			vertical-align: middle;
			/* Para ver el pseudoelemento
			background: #9DC425; width: 5px;
			*/
		}

		&>*{
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.owl-config(@owl-margin-x:0px){
	position:relative;

	ul{

		li{
			position:relative;
			margin: 0px @owl-margin-x;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			display:block;
		}
		
		.owl-controls{
			position:absolute;
			bottom:0px;
			right:40px;

			.active{
				span{
					background:#F7931E;
				}
			}

			span{
				background: #fff;
			}
		}
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: @screen-xs-max) {
	header{

		& > img{
			height:100%;
			width: initial;
			position:absolute;
		}
	
		.logo{
			height:60px;
			position:relative;

			.icon-pre{
				display:none;
			}

			.logo-content{
				
				img{
					width:initial;
					height: 100%;
				}
			}
			
		}

		.menu{
			position:relative;
		}

		.social{
			position:relative;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	header{

		& > img{
			height:100%;
			width: initial;
			position:absolute;
		}
	
		.logo{
			height:60px;
			position:relative;

			.icon-pre{
				display:none;
			}

			.logo-content{
				
				img{
					width:initial;
					height: 100%;
				}
			}
			
		}

		.menu{
			position:relative;
		}

		.social{
			position:absolute;
			right: 0px;
			top: 0px;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
	
}